<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D8Karar</title>
</head>
<body>
    <ul id="navigation">
        {% for decision in nextDecisions %}
            <li><a href="{{ decision.id }}">{{ decision.title }}</a></li>
        {% endfor %}
    </ul>
    <ul id="navigation">
        {% for decision in afterDecisions %}
            <li><a href="{{ decision.id }}">{{ decision.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
